---
layout: archive
title: "Courses and Tutorials"
permalink: /teaching/
author_profile: true
---

{% include base_path %}


<!---
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
--->


<h2>Courses in CS@VT</h2>

<ul>
<li> <a href="https://canvas.vt.edu/courses/215488">CS 4104: Data and Algorithm Analysis</a>. 2025 Fall </li>
<li> <a href="https://canvas.vt.edu/courses/196064">CS 5624: Natural Language Processing</a>. 2024 Fall, 2023 Fall, 2026 Spring </li>
<li> <a href="https://canvas.vt.edu/courses/204913">CS 5814: Introduction to Deep Learning</a>. 2025 Spring, 2023 Spring </li>
<li> <a href="/2024-1-16-seminar">CS 6804: Trustworthiness of Large Language Models</a>. 2024 Spring </li>
</ul>

<h2>PhD Qualifier Exams in CS@VT</h2>

<ul>
<li> <a href="https://xuanwang91.github.io/2025-phd-qualifier-exam">2025 PhD Qualifier Exam: Data/ML/AI</a> </li>
</ul>


<h2>Conference Tutorials</h2>

<ul>
<li> <a href="">Towards Effective and Efficient Multi-Agent Language Model Systems: Foundations, Prospects, and Applications</a>. Xuan Wang, Shuxiang Cao, Yuchen Zhuang, Wenqi Shi. <b>ACL 2026</b>. </li>
<li> <a href="https://people.cs.vt.edu/jiamingcui/icdm25/index.html">AI-Driven Multimodal Frameworks for Healthcare Decision-Making</a>. Jiaming Cui, Xuan Wang, Zhe Zeng, Hongru Du. <b>ICDM 2025</b>. </li>
<li> <a href="/2025-02-25-aaai25-tutorial">AI for Science in the Era of Large Language Models</a>. Xuan Wang. <b>AAAI 2025</b>. </li>
<li> <a href="/2024-11-12-emnlp24-tutorial">AI for Science in the Era of Large Language Models</a>. Zhenyu Bi, Minghao Xu, Jian Tang, and Xuan Wang. <b>EMNLP 2024</b>. </li>
<li> <a href="/2022-8-14-kdd22-tutorial">New Frontiers of Scientific Text Mining: Tasks, Data, and Tools</a>. Xuan Wang, Hongwei Wang, Heng Ji, and Jiawei Han. <b>KDD 2022</b>. </li>
<li> <a href="/2022-4-26-www22-tutorial">Modern Natural Language Processing Techniques for Scientific Web Mining: Tasks, Data, and Tools</a>. Xuan Wang, Hongwei Wang, Heng Ji, and Jiawei Han. <b>WWW 2022</b>. </li>
<li> <a href="/2019-12-11-bigdata-tutorial">Taming Unstructured Big Data: Automated Information Extraction from Massive Text</a>. Xuan Wang, Yu Zhang, Qi Li, and Jiawei Han. <b>BigData 2019</b>. </li>
</ul>
