---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}


{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}


<h2>Conference Tutorials</h2>

<ul>

<li> Constructing and Mining Heterogeneous Information Networks from Massive Text. Jingbo Shang, Jiaming Shen, Liyuan Liu, and Jiawei Han. <b>KDD</b> 2019.</li>
<li>TextCube: Automated Construction and Multidimensional Exploration. Yu Meng, Jiaxin Huang, Jingbo Shang, and Jiawei Han. <b>VLDB</b> 2019.</li>
<li> <a href="/2018-04-21-kdd-tutorial/">Towards Multidimensional Analysis of Text Corpora</a>. Jingbo Shang, Chao Zhang, Jiaming Shen, and Jiawei Han. <b>KDD</b> 2018. </li>
<li> <a href="/2017-08-11-kdd-tutorial/">Mining Entity-Relation-Attribute Structures from Massive Text Data</a>. Jingbo Shang, Xiang Ren, Meng Jiang, and Jiawei Han. <b>KDD</b> 2017. </li>
<li> Building Structured Databases of Factual Knowledge from Massive Text Corpora. Xiang Ren, Meng Jiang, Jingbo Shang and Jiawei Han. <b>SIGMOD</b> 2017. </li>
<li> <a href="http://xren7.web.engr.illinois.edu/www17tutorial.html">Constructing Structured Information Networks from Massive Text Corpora</a>. Xiang Ren, Meng Jiang, Jingbo Shang and Jiawei Han. <b>WWW</b> 2017. </li>
</ul>