---
layout: archive
title: "Courses and Tutorials"
permalink: /teaching/
author_profile: true
---

{% include base_path %}


<!---
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
--->


<h2>Courses in CS@VT</h2>

<ul>
<li> <a href="/2024-1-16-CS6804">Special Topics: Trustworthiness of Large Language Models</a>. 2024 Spring </li>
<li> <a href="https://canvas.vt.edu/courses/180894">CS5624: Natural Language Processing</a>. 2023 Fall. </li>
<li> <a href="https://canvas.vt.edu/courses/165447">CS5814: Introduction to Deep Learning</a>. 2023 Spring. </li>
</ul>


<h2>Conference Tutorials</h2>

<ul>
<li> <a href="/2024-8-12-acl24-tutorial">AI for Science in the Era of Large Language Models</a>. Zhenyu Bi, Minghao Xu, Jian Tang, and Xuan Wang. <b>ACL 2024</b>. </li>
<li> <a href="/2022-8-14-kdd22-tutorial">New Frontiers of Scientific Text Mining: Tasks, Data, and Tools</a>. Xuan Wang, Hongwei Wang, Heng Ji, and Jiawei Han. <b>KDD 2022</b>. </li>
<li> <a href="/2022-4-26-www22-tutorial">Modern Natural Language Processing Techniques for Scientific Web Mining: Tasks, Data, and Tools</a>. Xuan Wang, Hongwei Wang, Heng Ji, and Jiawei Han. <b>WWW 2022</b>. </li>
<li> <a href="/2019-12-11-bigdata-tutorial">Taming Unstructured Big Data: Automated Information Extraction from Massive Text</a>. Xuan Wang, Yu Zhang, Qi Li, and Jiawei Han. <b>BigData 2019</b>. </li>
</ul>
