---
layout: default
---
<article class="home-page">
  <section class="identity">
    <img class="identity-photo" src="{{ '/images/img/Xuan2016.jpg' | relative_url }}" alt="Xuan Wang">
    <div class="identity-copy">
      <div class="identity-line">
        <strong class="identity-name">Xuan Wang</strong>
        <span class="identity-role">Assistant Professor of Computer Science · Virginia Tech</span>
      </div>
    <div class="identity-links">
      <a href="mailto:xuanw@vt.edu">Email</a><span>·</span>
      <a href="https://scholar.google.com/citations?user=_IVJi6UAAAAJ&hl=en">Google Scholar</a><span>·</span>
      <a href="https://www.linkedin.com/in/xwang2/">LinkedIn</a><span>·</span>
      <a href="https://x.com/xwang174">X</a><span>·</span>
      <a href="https://github.com/xuanwang91">GitHub</a><span>·</span>
      <a href="https://drive.google.com/file/d/1bg0LmchHziBMgvhKw2NGE-p_Bg4ufyQH/view?usp=sharing">CV</a><span>·</span>
      <a href="https://outlook.office365.com/owa/calendar/7a9db64927ad4b31ac057a71aa1a21f4@vt.edu/36019279cd6b4fb78bef49139b5b4e834236640486942120667/calendar.html">My Schedule</a>
      </div>
    </div>
  </section>
  <div class="home-body">{{ content }}</div>
</article>
